body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
.btn-group button {
	margin: 5px;
}
.moreData.hide {
	display: none !important;
}

.moreData.show {
	display: block !important;
}

.center-alert {
	position: fixed !important;
	top: 10px !important;
	left: 50% !important;
	z-index: 1111;
}

.user-orange {
	background-color: orange;
}
.user {
	padding: 20px;
}
button:focus {
	outline: none !important;
}

.red-border {
	margin: 20px;
	padding: 0;
	border: 2px solid red;
}
.green-border {
	margin: 20px;
	padding: 0;
	border: 2px solid green;
}

.btns button {
	float: right;
	margin: 10px;
}
.add-user-form {
	width: 45%;
	position: fixed;
	top: 200px;
	right: 50px;
	/* box-shadow: 10xp 10px 10px 10px #ccc !important; */
	background-color: rgba(156, 154, 154, 0.123);
}

.add-form {
	background-color: rgba(156, 154, 154, 0.123);
}
